body{
   background-color: black;
   background-image: url("https://cdn.pixabay.com/photo/2020/02/20/17/57/flower-4865379__480.png");
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 97vh;
   background-repeat: no-repeat;
   background-size: cover;
}
#time{
    color: rgb(239, 235, 243);
    font-size: 100px;
}